img{
width:50%;
height: auto;
text-align: center;
}
h1{
  font-family: monospace;
  text-align: center;
  box-shadow: 1px: grey;
}
#furnitureForm{
  text-align: center;
}
#returnFurniture{
  text-align: center;
}
.dark-background{
  background-color: grey;
  color:white;
}
